*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: rgb(255, 255, 255);
}
/* MOD - BLOCO */
.bloco{
    text-align: center;
}
/* MOD - CABEÇALHO*/
.cabecalho{
    background-color: rgb(0, 0, 0);
}
/* MOD - NAVEGAÇÃO*/
.navegacao{
    margin-right: auto;
    display: flex;
}
/* MOD - LISTA*/
ul{
    list-style: none;
    margin-left: auto;
    font-size: 30px;
    display: flex;
    margin-top: 20px;
}
ul a{
    text-decoration: none;
    color: aliceblue;
    margin: 10px;

}
ul a:hover{
    background-color: #91919127;
    border-radius: 5px;
    padding: 10px;
}
/* MOD - TITULO*/
.titulo{
    text-align: center;
}
/* MOD - MENU*/

/* MOD - MAIN*/

/* MOD - GRADE*/
.grid-container{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(320px,1fr));
}

/* MOD - PRODUTOS*/
.produto{
    padding: 53px;
    background-color: #cacaca;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    margin: 20px;
    border-radius: 10px;   
    font-family: Arial, Verdana, Helvética;
    text-align: center;
}
.produto:hover{
    border-color: rgb(87, 87, 87);
    border-style:solid;
}
.produto a{
    text-decoration: none;
}
.produto h1{
    font-size: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #2d293d;
}
/*'Trebuchet MS'*/
.produto p{
    font-family: futura; 
    font-size: 20px;
    margin-top: 10px;
}
.corte{
    border-radius: 10px;
}
.produto img{
    width: 100%;
    margin:20px;
    margin-left: auto;
    margin-right: auto;
}
.cartao{
    color: rgb(43, 43, 43);
    font-size: 5px;
}
/* MOD - VERMAIS*/
/*.vm{
text-align: center;
background-color: rgb(255, 255, 255);
color: rgb(0, 0, 0);
border-radius: 10px;
font-size: 20px;
font-family: 'Times New Roman', Times, serif;
margin-left: auto;
margin-right: auto;
width: 150px;
margin-bottom: 10px;
border-style: solid;
}
.vm :hover{
    background-color: rgb(54, 54, 54);
}*/
/* MOD - BOTÃO*/
.botao{
    background-color: rgb(5, 5, 5);
    border-radius: 10px;
    color:white;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    margin-top: 10px;
    padding: 10px;
    border: 0;
}
.botao:hover{
    background-color: rgb(68, 68, 68);
}
/* MOD - RODAPE*/
.rodape{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;

}



/* MOD - ROTULO : CONTATO*/
.rotulo{
    display: block;
    margin: 20px;
    height: 30px;
}
/* MOD - CAMPO : CONTATO*/
.campo{
    display: block;
    width: 100%;
    height: 30px;
    font-size: 16px;
    padding-left: 10px;
    border: none;
    background-color: rgb(102, 102, 102);
}
.campo:focus{
    background-color: #383636;
    outline: none;
}
/* MOD - TEXTAREA E O CAMPO */
textarea.campo{
    height: 30px;
}
/* MOD - CONTATO*/
.contato{
    background-color: #b6b6b6;
    padding: 22px;
    width: 555px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 6px;
    padding-top: 1px;
    height: 265px;
}



