*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: rgb(255, 255, 255);
}
/* MOD - BLOCO */
.bloco{
    text-align: center;
}
/* MOD - CABEÇALHO*/
.cabecalho{
    background-color: rgb(0, 0, 0);
}
/* MOD - NAVEGAÇÃO*/
.navegacao{
    margin-right: auto;
    display: flex;
}
/* MOD - LISTA*/
ul{
    list-style: none;
    margin-left: auto;
    font-size: 30px;
    display: flex;
    margin-top: 20px;
}
ul a{
    text-decoration: none;
    color: aliceblue;
    margin: 10px;

}
ul a:hover{
    background-color: #91919127;
    border-radius: 5px;
    padding: 10px;
}
/* MOD - TITULO*/
.titulo{
    text-align: center;
}
/* MOD - MENU*/

/* MOD - MAIN*/

/* MOD - GRADE*/
.grid-container{
    display: grid;
    gap: 22px;
    grid-template-columns: repeat(auto-fill, minmax(320px,1fr));
    display:flex;
}
.produto img{
    width: 100%;
    margin:20px;
}
/* MOD - PRODUTOS*/
.produto{
    padding: 53px;
    background-color: #cacaca;
    margin-left: auto;
    margin-right: auto;
    width: 310px;
    margin: 11px;
    border-radius: 10px;   
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
.produto:hover{
    border-color: rgb(22, 22, 22);
    border-style:solid;
}
.produto a{
    text-decoration: none;
}
.produto h1{
    width: 100%;
}
/* MOD - BOTÃO*/
.botao{
    background-color: darkorange;
    margin-top:50%;
    border-radius: 10px;
    color:white;
    align-items: center;
    width: 200px;
    padding: 10px;
}
.botao:hover{
    background-color: rgb(185, 102, 0);
}
/* MOD - RODAPE*/
.rodape{
    background-color: black;
    color: white;
    padding-top: 50px;
}
